* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
img {
    height: auto;
    width: 800px;
}
p {
    background-color: pink;
    color:blueviolet;
    font-size: large;
    text-align: center justify;
}

.parts {
    background-color: cornflowerblue;
    color:darkolivegreen;
    font-weight: bold;
}

.process {
    background-color: darkseagreen;
    color: deeppink;
    text-align: right;
}